/* Estilos generales */
*{
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f6f9; /* Blanco perlado de fondo */
}

/* Estilos del menú de navegación */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #1f2a44; /* Azul marino */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar button {
  background-color: transparent;
  border: none;
  color: #fff; /* Blanco */
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease; /* Transición suave para el color */
}

.navbar button:hover {
  color: #ffd700;
}

/* Sección activa */
.section {
  flex-grow: 1;
  padding: 0 20px;
  background-color: #4eb1ee; /* Azul cielo más fuerte */
  margin: 0 2.5em;
  border-radius: 8px;
}

.user-page,
.main-page {
  margin-top: 0;
}

/* Estilo de los contenedores de las secciones */
.container {
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(173, 216, 230,0.6); /* Azul cielo más claro con transparencia */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilo de las imagenes promocionales */
.carousel {
  display: flex;
  overflow-x: auto; 
  scroll-behavior: smooth; /* Suaviza el desplazamiento */
  gap: 10px; 
  padding-bottom: 25px; 
}

.carousel-item {
  flex-shrink: 0; 
  width: 300px; 
  height: 250px; 
  background-color: #1f2a44; /* Fondo para las imágenes */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
}

.carousel-item p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff; /* Blanco */
}

.carousel::-webkit-scrollbar {
  display: none; 
}